.contact-page{
  padding:8rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.forms{
  display: flex;
  flex-direction: column;
}
.sec{
  margin: 2rem;
}
.name,
.email{
  margin:1rem;
  display: flex;
  flex-direction: column;
}